* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(./imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.banner {
    width: 40%;
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Rubik Glitch", sans-serif, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10% 0;
}

.odin {
    font-size: 60px;
}

.sign-up-form {
    background-color: white;
    height: 100vh;
    width: 60%;
}