* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(./imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Rubik Glitch", sans-serif, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 30% 0;
}

.credit a, .credit {
    color: white;
    align-self: center;
    margin-bottom: 15px;
}

.odin {
    font-size: 60px;
}

.sign-up-form {
    background-color: white;
    height: 100vh;
    width: 60%;
}

#login {
    color: rgb(29, 145, 29);
    text-decoration: none;
    font-weight: 600;
}